#display-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

/* card design */
.card, .row {
    padding: 20px;
    border-radius: 10px;
    box-shadow: -10px 10px 10px rgba(129, 129, 129, 0.123);
    border: 0;
    margin: 10px;
    transition: transform 0.4s ease-in;
}

.row img {
    
    width: 70%;
    margin: auto auto;
}

.row{
    padding: 30px;
}

ul li {
    list-style-type: none;
}

/* hover effect */

.card:hover{
    transform: scale(1.02);
}


.see-more {
    display: flex;
    justify-content: center;
}

/* responsiveness */

/* phone */
@media only screen and (max-width: 768px) {
    #display-section{
        grid-template-columns: repeat(1,1fr);
    }
    .row{
        flex-direction: column;
    }

  }
/* did this work to change the repo private to public */
/* is it working or not  */

